!pip install --upgrade pip
!pip3 install --upgrade pandas

In [1]:
import sys,os,logging
import argparse

date_strftime_format = "%d-%b-%y %H:%M:%S"
logging.basicConfig(stream=sys.stdout, level=logging.INFO, format='[%(asctime)s] %(name)s {%(filename)s:%(lineno)d} %(levelname)s - %(message)s',)

parser = argparse.ArgumentParser()
parser.add_argument("--f", "--filepath", type=str, default="./conf/default.conf", help='provide configuration filepath')
args = parser.parse_args(args=['--filepath', './conf/default.conf'])
configFilePath = args.f

from configparser import ConfigParser
config_object = ConfigParser()
config_object.read(configFilePath)
scaleinfo = config_object["SCALEINFO"]
scale = scaleinfo.getint("scale_gb")
batch = scaleinfo.getint("batch_k")
timespan_days = scaleinfo.getint("timespan_days")
droptable = scaleinfo.getboolean("droptable")
debugMode = scaleinfo.getboolean("debugMode")

logging.info("Using following scale configuration: ")
for (each_key, each_val) in config_object.items(config_object["SCALEINFO"].name):
    logging.info( each_key + ":" + each_val)

    
systeminfo = config_object["SYSTEMINFO"]
SPARK_APP_NAME = str(systeminfo.get("spark.app.name")).strip('\"')
SPARK_MASTER = str(systeminfo.get("spark.master.hostpath")).strip('\"')
HIVE_HMS_HOST= str(systeminfo.get("hive.metastore.uris")).strip('\"')
SPARK_WAREHOUSE_DIR = str(systeminfo.get("spark.sql.warehouse.dir")).strip('\"')
SPARK_DRIVER_CORES = systeminfo.getint("spark_driver_cores")
SPARK_DRIVER_MEMORY = str(systeminfo.get("spark.driver.memory")).strip('\"')
SPARK_EXECUTOR_CORES = systeminfo.getint("spark.executor.cores")
SPARK_DRIVER_MEMORY = str(systeminfo.get("spark.executor.memory")).strip('\"')

logging.info("Using following system configuration: ")
for (each_key, each_val) in config_object.items(config_object["SYSTEMINFO"].name):
    logging.info( each_key + ":" + each_val)

[2023-05-19 12:03:42,681] root {<ipython-input-1-c95290b1fcef>:22} INFO - Using following scale configuration:
[2023-05-19 12:03:42,686] root {<ipython-input-1-c95290b1fcef>:24} INFO - scale_gb:1
[2023-05-19 12:03:42,687] root {<ipython-input-1-c95290b1fcef>:24} INFO - batch_k:100
[2023-05-19 12:03:42,692] root {<ipython-input-1-c95290b1fcef>:24} INFO - timespan_days:7
[2023-05-19 12:03:42,694] root {<ipython-input-1-c95290b1fcef>:24} INFO - droptable:True
[2023-05-19 12:03:42,695] root {<ipython-input-1-c95290b1fcef>:24} INFO - debugmode:True
[2023-05-19 12:03:42,696] root {<ipython-input-1-c95290b1fcef>:37} INFO - Using following system configuration:
[2023-05-19 12:03:42,698] root {<ipython-input-1-c95290b1fcef>:39} INFO - spark.app.name:"Remote Spark"
[2023-05-19 12:03:42,699] root {<ipython-input-1-c95290b1fcef>:39} INFO - spark.master.hostpath:"spark://spark-master:7077"
[2023-05-19 12:03:42,700] root {<ipython-input-1-c95290b1fcef>:39} INFO - hive.metastore.uris:"thrift://hms-service:9083"
[2023-05-19 12:03:42,701] root {<ipython-input-1-c95290b1fcef>:39} INFO - spark.sql.warehouse.dir:"hdfs://hadoop-service:9000/user/hive/warehouse"
[2023-05-19 12:03:42,702] root {<ipython-input-1-c95290b1fcef>:39} INFO - spark_driver_cores:2
[2023-05-19 12:03:42,703] root {<ipython-input-1-c95290b1fcef>:39} INFO - spark.driver.memory:2G
[2023-05-19 12:03:42,703] root {<ipython-input-1-c95290b1fcef>:39} INFO - spark.executor.cores:1
[2023-05-19 12:03:42,704] root {<ipython-input-1-c95290b1fcef>:39} INFO - spark.executor.memory:1G

In [2]:
import math
import pyspark
import pandas as pd
import numpy as np
import gc

from pyspark.sql import SQLContext, SparkSession
from pyspark.sql.functions  import from_unixtime

spark = SparkSession \
        .builder \
        .appName(SPARK_APP_NAME) \
        .master(SPARK_MASTER) \
        .config("hive.metastore.uris", HIVE_HMS_HOST) \
        .config("spark.sql.warehouse.dir", SPARK_WAREHOUSE_DIR) \
        .config("spark_driver_cores", SPARK_DRIVER_CORES) \
        .config("spark.driver.memory", SPARK_DRIVER_MEMORY) \
        .config("spark.executor.cores", SPARK_EXECUTOR_CORES) \
        .config("spark.executor.memory", SPARK_DRIVER_MEMORY) \
        .enableHiveSupport() \
        .getOrCreate()

spark.sparkContext.setLogLevel("INFO")
sqlContext = SQLContext(spark.sparkContext, sparkSession=spark)
spark.sparkContext.version
logging.info("Spark Version: " + spark.version)
logging.info("PySpark Version: " + pyspark.__version__)
logging.info("Pandas Version: " + pd.__version__)

[2023-05-19 12:03:43,387] numexpr.utils {utils.py:141} INFO - NumExpr defaulting to 8 threads.
[2023-05-19 12:03:50,434] root {<ipython-input-2-862c62e33add>:26} INFO - Spark Version: 3.3.1
[2023-05-19 12:03:50,443] root {<ipython-input-2-862c62e33add>:27} INFO - PySpark Version: 3.3.1
[2023-05-19 12:03:50,448] root {<ipython-input-2-862c62e33add>:28} INFO - Pandas Version: 1.3.5

In [3]:
import threading
from time import sleep


taskdone = False
alphabet = list('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789')
LENGTH = 10

cols=["f01", "f02","f03", "f04", "f05", "f06", "f07", "f08", "f09", "f10","f11","f12","f13","f14","f15","f16","f17","f18","f19","f20","f21","f22","f23","f24","f25","f26","f27","f28","f29","f30","f31" ]
random_txtcols=["f03","f05","f08","f09","f11","f12","f13","f16","f17","f18","f20","f21","f23","f24","f25","f26","f27","f28","f29"]

def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f %s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f %s%s" % (num, 'Yi', suffix)

def getNumberOfExecutor():
    global spark
    sc=spark.sparkContext
    number_of_workers = len(sc._jsc.sc().statusTracker().getExecutorInfos()) - 1
    return number_of_workers

def delete_path(host, path):
    global spark
    sc=spark.sparkContext
    URI           = sc._gateway.jvm.java.net.URI
    Path          = sc._gateway.jvm.org.apache.hadoop.fs.Path
    FileSystem    = sc._gateway.jvm.org.apache.hadoop.fs.FileSystem
    Configuration = sc._gateway.jvm.org.apache.hadoop.conf.Configuration
    fs = FileSystem.get(URI(host), Configuration())
    logging.info("deleting hdfs directory: " + host + path)
    if fs.exists(Path(path)) :
        fs.delete(Path(path), True)
        logging.info("deleted " + path)

def progressbar():
    logging.info('Start')
    while not (taskdone):
        sleep(5)
        logging.info('.')

def inittask(droptable = False):
    global SPARK_WAREHOUSE_DIR
    
    if(droptable):
        logging.info('dropping sample.* tables')
        sqlContext.sql("drop table if exists sample.tb_test;")
        sqlContext.sql("drop table if exists sample.tb_sev_u;")
        sqlContext.sql("drop table if exists sample.tb_test_qf_stat;")
        sqlContext.sql("drop table if exists sample.tb_test_num_tmp;")
        sqlContext.sql("drop table if exists sample.tb_test_qf_lastest;")
        # Delete the HDFS directory for failure case
        pos=SPARK_WAREHOUSE_DIR.index("/", len("hdfs://"))
        hdfshost=SPARK_WAREHOUSE_DIR[:pos]
        hdfsdir=SPARK_WAREHOUSE_DIR[pos:]+"/sample.db"
        logging.info('deleting hdfs directory: ' + hdfsdir)
        delete_path(hdfshost, hdfsdir)
    
    sqlContext.sql("create database if not exists sample;")
    sqlContext.sql("use sample;")
    
    return True
    

def gendata_tbsevu(rounds = 1, batch_size = 100000):
    logging.info("generating data for tb_sev_u ...")
    
    sqlContext.sql("""
        create table sample.tb_sev_u 
        as
        select distinct f02 as id, f03 as name
        from sample.tb_test 
        where f02 < 19218983880 or f02 > 19218983890
        ORDER BY RAND () 
        limit {batch}
    ;""".format(batch=int(rounds*batch_size)))

    logging.info("finished loading data for tb_sev_u with " + str(batch_size) + " rows.")    
    
    
def gendata_tbtest_noise(fromTS, toTS, scale_rounds = 1, batch_size = 100000):
    global random_txtcols
    scale_rounds = scale_rounds + 1
    ## for 100,000 rows of data with 25MB Storage Data Without Replication
    df = pd.DataFrame()   
    initial_ts_int =  int(fromTS.value/10**9)
    target_ts_int =  int(toTS.value/10**9)
    
    logging.info("Round " + str(scale_rounds) + ": generating noise data for tb_test with batch size "+ str(batch_size) + " rows, from " + str(initial_ts_int) + " to " +  str(target_ts_int) + ".")
                 
    df1 = pd.DataFrame(np.random.randint(initial_ts_int, target_ts_int, size=(batch_size,1)),  columns=list(["f01"]))
    df2 = pd.DataFrame(np.random.randint(19200000000,19200000000+20000000,size=(batch_size,2)), columns=list(["f02", "f04"])) 
    df6 = pd.DataFrame(np.random.randint(0, 10, size=(batch_size,5)),  columns=list(["f06", "f07", "f10", "f15", "f19"]))
    df14 = pd.DataFrame(np.random.randint(48, 51, size=(batch_size,1)),  columns=list(["f14"]))
    df22 = pd.DataFrame(np.random.randint(1, 10, size=(batch_size,1)),  columns=list(["f22"]))
    df30 = pd.DataFrame(np.random.randint(initial_ts_int,target_ts_int,size=(batch_size,1)),  columns=list(["f30"]))
    df31 = df30
    df31 = df31.rename(columns={"f30": "f31"})
    
    for k in random_txtcols: 
        np_batchsize = None
        if k == 'f16' :
            np_batchsize = np.random.choice(np.array(alphabet, dtype="|U1"), [batch_size, math.ceil(1 + LENGTH * (np.random.randint(1, 30) / 10))])
        else :
            np_batchsize = np.random.choice(np.array(alphabet, dtype="|U1"), [batch_size, LENGTH])

        df0 = pd.DataFrame( ["".join(np_batchsize[i]) for i in range(len(np_batchsize))], columns=[k])
        df[k] = df0[k]

    df = pd.concat([df1,df2, df6, df14, df22, df30, df31, df], axis=1, join='inner')

    df = df[cols]
    logging.info("Memory Usage: " + f'{df.memory_usage(deep=True).sum():,}'  + " Bytes")

    logging.info("creating spark data frame for partitioins from " + str(pd.to_datetime(df['f01'].min(), unit='s')) + ' to ' +  str(pd.to_datetime(df['f01'].max(), unit='s')) + '... ')
    sparkDF = spark.createDataFrame(df)
    sparkDF = sparkDF.withColumn("cp", from_unixtime(sparkDF["f01"], "yyyyMMddHH").cast("BigInt"))
    sparkDF = sparkDF.withColumn("ld", from_unixtime(sparkDF["f01"], "yyyyMMddHH").cast("BigInt"))
    sparkDF = sparkDF.withColumn("f30", from_unixtime(sparkDF["f30"], "yyyyMMddHH").cast("BigInt"))
    sparkDF = sparkDF.withColumn("f31", from_unixtime(sparkDF["f31"], "yyyyMMddHH").cast("BigInt"))
    #sparkDF.coalesce(getNumberOfExecutor()).write.mode("append").partitionBy( ["cp","ld"]).bucketBy(32, "f02").sortBy("f01").format("orc").saveAsTable("tb_test")
    logging.info("writing to hive table sample.tb_test ...")
    
    current_ts = pd.Timestamp.now()
    
    sparkDF.coalesce(getNumberOfExecutor()).write.mode("append").partitionBy( ["cp","ld"]).format("orc").option("compression","ZLIB").saveAsTable("sample.tb_test")
    finish_ts = pd.Timestamp.now()
    
    spark.catalog.clearCache()
    gc.collect()
    logging.info("finished round " + str(scale_rounds) +  " with batch size "+ str(batch_size) + " rows with " + str( (finish_ts - current_ts).seconds)  + " seconds")
        

def gendata_tbtest_target(fromTS, toTS, scale_rounds = 1, batch_size = 100000):
    global random_txtcols
    scale_rounds = scale_rounds + 1
    ## for 100,000 rows of data with 25MB Storage Data Without Replication
    df = pd.DataFrame()   
    initial_ts_int =  int(fromTS.value/10**9)
    target_ts_int =  int(toTS.value/10**9)

    logging.info("Round " + str(scale_rounds) + ": generating target data for tb_test with batch size "+ str(batch_size) + " rows, from " + str(initial_ts_int) + " to " +  str(target_ts_int) + ".")
                 
    df1 = pd.DataFrame(np.random.randint(initial_ts_int, target_ts_int, size=(batch_size,1)),  columns=list(["f01"]))
    df2 = pd.DataFrame(np.random.randint(19218983880,19218983880+10,size=(batch_size,1)), columns=list(["f02"])) 
    df4 = pd.DataFrame(np.random.randint(19200000000,19200000000+20000000,size=(batch_size,1)), columns=list(["f04"])) 
    df6 = pd.DataFrame(0, index=range(batch_size),  columns=list(["f06"]))
    df7 = pd.DataFrame(7, index=range(batch_size),  columns=list(["f07"]))
    df10 = pd.DataFrame(np.random.randint(0, 10, size=(batch_size,3)),  columns=list(["f10", "f15", "f19"]))
    df14 = pd.DataFrame(49, index=range(batch_size),  columns=list(["f14"]))
    df22 = pd.DataFrame(3, index=range(batch_size),  columns=list(["f22"]))
    df30 = pd.DataFrame(np.random.randint(initial_ts_int,target_ts_int,size=(batch_size,1)),  columns=list(["f30"]))
    df31 = df30
    df31 = df31.rename(columns={"f30": "f31"})

    for k in random_txtcols: 
        if k == 'f16' :
            np_batchsize =  pd.DataFrame("Great you found me !", index=range(batch_size),  columns=list(["f16"]))
        else :
            np_batchsize = np.random.choice(np.array(alphabet, dtype="|U1"), [batch_size, LENGTH])
            np_batchsize = pd.DataFrame( ["".join(np_batchsize[i]) for i in range(len(np_batchsize))], columns=[k])

        df[k] = np_batchsize

    df = pd.concat([df1,df2, df4, df6, df7, df10, df14, df22, df30, df31, df], axis=1, join='inner')

    df = df[cols]

    logging.info("Memory Usage: " + f'{df.memory_usage(deep=True).sum():,}'  + " Bytes")

    logging.info("creating spark data frame for partitioins from " + str(pd.to_datetime(df['f01'].min(), unit='s')) + ' to ' +  str(pd.to_datetime(df['f01'].max(), unit='s')) + '... ')
    sparkDF = spark.createDataFrame(df)
    sparkDF = sparkDF.withColumn("cp", from_unixtime(sparkDF["f01"], "yyyyMMddHH").cast("BigInt"))
    sparkDF = sparkDF.withColumn("ld", from_unixtime(sparkDF["f01"], "yyyyMMddHH").cast("BigInt"))
    sparkDF = sparkDF.withColumn("f30", from_unixtime(sparkDF["f30"], "yyyyMMddHH").cast("BigInt"))
    sparkDF = sparkDF.withColumn("f31", from_unixtime(sparkDF["f31"], "yyyyMMddHH").cast("BigInt"))
    #sparkDF.coalesce(getNumberOfExecutor()).write.mode("append").partitionBy( ["cp","ld"]).bucketBy(32, "f02").sortBy("f01").format("orc").saveAsTable("tb_test")
    
    logging.info("writing to hive table sample.tb_test ...")
    current_ts = pd.Timestamp.now()
    sparkDF.coalesce(getNumberOfExecutor()).write.mode("append").partitionBy( ["cp","ld"]).format("orc").option("compression","ZLIB").saveAsTable("sample.tb_test")
    finish_ts = pd.Timestamp.now()
    
    spark.catalog.clearCache()
    gc.collect()
    logging.info("finished round " + str(scale_rounds) +  " with batch size "+ str(batch_size) + " rows with " + str( (finish_ts - current_ts).seconds)  + " seconds")

    
def gendata_tbtest(scale = 1, batch_size = 100000, timespan_days = 31):
    
    scale_factor = scale*1024
    scale_unit =  math.ceil(batch_size/(100000/25))
    scale_rounds = math.ceil(scale_factor/scale_unit)
    
    #Testing
    if debugMode :
        logging.warning("Testing with " + str(2) +" rounds data instead of " + str(scale_rounds) +" rounds, remove this by settign debugMode = False in config file.")
        scale_rounds = 2
        
    target_ts=None
    partitions = timespan_days * 24
    current_ts = pd.Timestamp.now()
    
    for i in range(scale_rounds):
        
        if debugMode :            
            for name, size in sorted(((name, sys.getsizeof(value)) for name, value in list(globals().items())), key= lambda x: -x[1])[:10]:
                logging.info("{:>30}: {:>8}".format(name, sizeof_fmt(size)))
            for name, size in sorted(((name, sys.getsizeof(value)) for name, value in list(locals().items())), key= lambda x: -x[1])[:10]:
                logging.info("{:>30}: {:>8}".format(name, sizeof_fmt(size)))
        
        if target_ts is None:
            initial_ts = pd.to_datetime(current_ts - pd.Timedelta(days=timespan_days))
        else:
            initial_ts = target_ts;

        target_ts =  pd.to_datetime(initial_ts + pd.Timedelta(hours=math.ceil(partitions / scale_rounds)))

        gendata_tbtest_noise(initial_ts, target_ts, i, batch_size)
        gendata_tbtest_target(initial_ts, target_ts, i, math.ceil(batch_size/10))

    # Finish data generation for tb_test
    # Then we load the data into tb_serv_u
    logging.info("generating data for tb_servu")
    gendata_tbsevu(scale_rounds, batch_size)
    
    sqlContext.sql("use sample;")
    sqlContext.sql("show tables").show()

def gendata(scale_gb = 1, batch_size = 100, timespan_days = 31):
    logging.info("number_of_workers: " + str(getNumberOfExecutor()) + ".")
    gendata_tbtest(scale_gb, batch_size * 1000, timespan_days )
    
    
def longtask(scale_gb = 1, batch_size = 100, timespan_days = 31, droptTable = False):
    inittask(droptTable)
    gendata(scale_gb, batch_size, timespan_days)
    global taskdone
    taskdone = True

# start the thread pool
t1 = threading.Thread(target=progressbar)
t2 = threading.Thread(target=longtask,  args=(scale, batch, timespan_days, droptable))

# wait for all tasks to complete
# start threads
t1.start()
t2.start()

# wait until threads finish their job
t1.join()
t2.join()

logging.info('Done!')

[2023-05-19 12:03:50,805] root {<ipython-input-3-de35c3d606fb>:39} INFO - Start
[2023-05-19 12:03:50,808] root {<ipython-input-3-de35c3d606fb>:48} INFO - dropping sample.* tables
[2023-05-19 12:03:55,821] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:04:00,829] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:04:05,845] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:04:10,856] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:04:11,327] root {<ipython-input-3-de35c3d606fb>:58} INFO - deleting hdfs directory: /user/hive/warehouse/sample.db
[2023-05-19 12:04:11,371] root {<ipython-input-3-de35c3d606fb>:33} INFO - deleting hdfs directory: hdfs://hadoop-service:9000/user/hive/warehouse/sample.db
[2023-05-19 12:04:11,391] root {<ipython-input-3-de35c3d606fb>:36} INFO - deleted /user/hive/warehouse/sample.db
[2023-05-19 12:04:11,511] root {<ipython-input-3-de35c3d606fb>:233} INFO - number_of_workers: 6.
[2023-05-19 12:04:11,512] root {<ipython-input-3-de35c3d606fb>:199} WARNING - Testing with 2 rounds data instead of 41 rounds, remove this by settign debugMode = False in config file.
[2023-05-19 12:04:11,513] root {<ipython-input-3-de35c3d606fb>:210} INFO -                            _i3: 12.0 KiB
[2023-05-19 12:04:11,514] root {<ipython-input-3-de35c3d606fb>:210} INFO -                            _ii:  1.8 KiB
[2023-05-19 12:04:11,515] root {<ipython-input-3-de35c3d606fb>:210} INFO -                            _i1:  1.8 KiB
[2023-05-19 12:04:11,515] root {<ipython-input-3-de35c3d606fb>:210} INFO -                   ConfigParser:  1.4 KiB
[2023-05-19 12:04:11,516] root {<ipython-input-3-de35c3d606fb>:210} INFO -                     SQLContext:  1.0 KiB
[2023-05-19 12:04:11,517] root {<ipython-input-3-de35c3d606fb>:210} INFO -                   SparkSession:  1.0 KiB
[2023-05-19 12:04:11,518] root {<ipython-input-3-de35c3d606fb>:210} INFO -                             _i:  1.0 KiB
[2023-05-19 12:04:11,519] root {<ipython-input-3-de35c3d606fb>:210} INFO -                            _i2:  1.0 KiB
[2023-05-19 12:04:11,520] root {<ipython-input-3-de35c3d606fb>:210} INFO -                       alphabet:  672.0 B
[2023-05-19 12:04:11,521] root {<ipython-input-3-de35c3d606fb>:210} INFO -                           cols:  320.0 B
[2023-05-19 12:04:11,522] root {<ipython-input-3-de35c3d606fb>:212} INFO -                     current_ts:  128.0 B
[2023-05-19 12:04:11,522] root {<ipython-input-3-de35c3d606fb>:212} INFO -                           name:   53.0 B
[2023-05-19 12:04:11,523] root {<ipython-input-3-de35c3d606fb>:212} INFO -                          scale:   28.0 B
[2023-05-19 12:04:11,524] root {<ipython-input-3-de35c3d606fb>:212} INFO -                     batch_size:   28.0 B
[2023-05-19 12:04:11,525] root {<ipython-input-3-de35c3d606fb>:212} INFO -                  timespan_days:   28.0 B
[2023-05-19 12:04:11,526] root {<ipython-input-3-de35c3d606fb>:212} INFO -                   scale_factor:   28.0 B
[2023-05-19 12:04:11,526] root {<ipython-input-3-de35c3d606fb>:212} INFO -                     scale_unit:   28.0 B
[2023-05-19 12:04:11,527] root {<ipython-input-3-de35c3d606fb>:212} INFO -                   scale_rounds:   28.0 B
[2023-05-19 12:04:11,528] root {<ipython-input-3-de35c3d606fb>:212} INFO -                     partitions:   28.0 B
[2023-05-19 12:04:11,529] root {<ipython-input-3-de35c3d606fb>:212} INFO -                           size:   28.0 B
[2023-05-19 12:04:11,531] root {<ipython-input-3-de35c3d606fb>:91} INFO - Round 1: generating noise data for tb_test with batch size 100000 rows, from 1683893051 to 1684195451.
[2023-05-19 12:04:15,864] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:04:19,060] root {<ipython-input-3-de35c3d606fb>:115} INFO - Memory Usage: 137,900,128 Bytes
[2023-05-19 12:04:19,063] root {<ipython-input-3-de35c3d606fb>:117} INFO - creating spark data frame for partitioins from 2023-05-12 12:04:11 to 2023-05-16 00:04:10...
[2023-05-19 12:04:20,894] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:04:25,924] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:04:30,943] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:04:35,966] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:04:40,996] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:04:44,492] root {<ipython-input-3-de35c3d606fb>:124} INFO - writing to hive table sample.tb_test ...
[2023-05-19 12:04:46,018] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:04:51,021] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:04:56,029] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:05:01,035] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:05:06,040] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:05:11,044] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:05:16,052] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:05:21,059] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:05:26,077] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:05:29,370] root {<ipython-input-3-de35c3d606fb>:133} INFO - finished round 1 with batch size 100000 rows with 44 seconds
[2023-05-19 12:05:29,408] root {<ipython-input-3-de35c3d606fb>:144} INFO - Round 1: generating target data for tb_test with batch size 10000 rows, from 1683893051 to 1684195451.
[2023-05-19 12:05:30,216] root {<ipython-input-3-de35c3d606fb>:171} INFO - Memory Usage: 13,790,128 Bytes
[2023-05-19 12:05:30,218] root {<ipython-input-3-de35c3d606fb>:173} INFO - creating spark data frame for partitioins from 2023-05-12 12:04:51 to 2023-05-16 00:01:45...
[2023-05-19 12:05:31,094] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:05:33,287] root {<ipython-input-3-de35c3d606fb>:181} INFO - writing to hive table sample.tb_test ...
[2023-05-19 12:05:36,113] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:05:41,121] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:05:46,124] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:05:48,940] root {<ipython-input-3-de35c3d606fb>:188} INFO - finished round 1 with batch size 10000 rows with 15 seconds
[2023-05-19 12:05:48,946] root {<ipython-input-3-de35c3d606fb>:210} INFO -                            _i3: 12.0 KiB
[2023-05-19 12:05:48,949] root {<ipython-input-3-de35c3d606fb>:210} INFO -                            _ii:  1.8 KiB
[2023-05-19 12:05:48,950] root {<ipython-input-3-de35c3d606fb>:210} INFO -                            _i1:  1.8 KiB
[2023-05-19 12:05:48,951] root {<ipython-input-3-de35c3d606fb>:210} INFO -                   ConfigParser:  1.4 KiB
[2023-05-19 12:05:48,952] root {<ipython-input-3-de35c3d606fb>:210} INFO -                     SQLContext:  1.0 KiB
[2023-05-19 12:05:48,952] root {<ipython-input-3-de35c3d606fb>:210} INFO -                   SparkSession:  1.0 KiB
[2023-05-19 12:05:48,953] root {<ipython-input-3-de35c3d606fb>:210} INFO -                             _i:  1.0 KiB
[2023-05-19 12:05:48,954] root {<ipython-input-3-de35c3d606fb>:210} INFO -                            _i2:  1.0 KiB
[2023-05-19 12:05:48,955] root {<ipython-input-3-de35c3d606fb>:210} INFO -                       alphabet:  672.0 B
[2023-05-19 12:05:48,956] root {<ipython-input-3-de35c3d606fb>:210} INFO -                           cols:  320.0 B
[2023-05-19 12:05:48,957] root {<ipython-input-3-de35c3d606fb>:212} INFO -                      target_ts:  128.0 B
[2023-05-19 12:05:48,958] root {<ipython-input-3-de35c3d606fb>:212} INFO -                     current_ts:  128.0 B
[2023-05-19 12:05:48,958] root {<ipython-input-3-de35c3d606fb>:212} INFO -                     initial_ts:  128.0 B
[2023-05-19 12:05:48,959] root {<ipython-input-3-de35c3d606fb>:212} INFO -                           name:   53.0 B
[2023-05-19 12:05:48,960] root {<ipython-input-3-de35c3d606fb>:212} INFO -                          scale:   28.0 B
[2023-05-19 12:05:48,961] root {<ipython-input-3-de35c3d606fb>:212} INFO -                     batch_size:   28.0 B
[2023-05-19 12:05:48,962] root {<ipython-input-3-de35c3d606fb>:212} INFO -                  timespan_days:   28.0 B
[2023-05-19 12:05:48,962] root {<ipython-input-3-de35c3d606fb>:212} INFO -                   scale_factor:   28.0 B
[2023-05-19 12:05:48,963] root {<ipython-input-3-de35c3d606fb>:212} INFO -                     scale_unit:   28.0 B
[2023-05-19 12:05:48,964] root {<ipython-input-3-de35c3d606fb>:212} INFO -                   scale_rounds:   28.0 B
[2023-05-19 12:05:48,966] root {<ipython-input-3-de35c3d606fb>:91} INFO - Round 2: generating noise data for tb_test with batch size 100000 rows, from 1684195451 to 1684497851.
[2023-05-19 12:05:51,136] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:05:55,972] root {<ipython-input-3-de35c3d606fb>:115} INFO - Memory Usage: 136,700,128 Bytes
[2023-05-19 12:05:55,975] root {<ipython-input-3-de35c3d606fb>:117} INFO - creating spark data frame for partitioins from 2023-05-16 00:04:11 to 2023-05-19 12:04:08...
[2023-05-19 12:05:56,248] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:06:01,261] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:06:06,274] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:06:11,292] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:06:16,307] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:06:20,585] root {<ipython-input-3-de35c3d606fb>:124} INFO - writing to hive table sample.tb_test ...
[2023-05-19 12:06:21,317] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:06:26,320] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:06:31,328] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:06:36,335] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:06:40,748] root {<ipython-input-3-de35c3d606fb>:133} INFO - finished round 2 with batch size 100000 rows with 20 seconds
[2023-05-19 12:06:40,782] root {<ipython-input-3-de35c3d606fb>:144} INFO - Round 2: generating target data for tb_test with batch size 10000 rows, from 1684195451 to 1684497851.
[2023-05-19 12:06:41,348] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:06:41,529] root {<ipython-input-3-de35c3d606fb>:171} INFO - Memory Usage: 13,790,128 Bytes
[2023-05-19 12:06:41,531] root {<ipython-input-3-de35c3d606fb>:173} INFO - creating spark data frame for partitioins from 2023-05-16 00:05:16 to 2023-05-19 12:03:51...
[2023-05-19 12:06:43,954] root {<ipython-input-3-de35c3d606fb>:181} INFO - writing to hive table sample.tb_test ...
[2023-05-19 12:06:46,364] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:06:51,369] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:06:56,372] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:07:00,561] root {<ipython-input-3-de35c3d606fb>:188} INFO - finished round 2 with batch size 10000 rows with 16 seconds
[2023-05-19 12:07:00,566] root {<ipython-input-3-de35c3d606fb>:226} INFO - generating data for tb_servu
[2023-05-19 12:07:00,567] root {<ipython-input-3-de35c3d606fb>:68} INFO - generating data for tb_sev_u ...
[2023-05-19 12:07:01,377] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:07:06,385] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:07:11,393] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:07:16,397] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:07:21,401] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:07:26,406] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:07:31,413] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:07:36,421] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:07:41,429] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:07:46,438] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:07:49,017] root {<ipython-input-3-de35c3d606fb>:80} INFO - finished loading data for tb_sev_u with 100000 rows.
+---------+-------------------+-----------+
|namespace|          tableName|isTemporary|
+---------+-------------------+-----------+
|   sample|           tb_sev_u|      false|
|   sample|            tb_test|      false|
|   sample|        tb_test_num|      false|
|   sample|tb_test_qf_stat_log|      false|
+---------+-------------------+-----------+

[2023-05-19 12:07:49,683] py4j.clientserver {clientserver.py:543} INFO - Closing down clientserver connection
[2023-05-19 12:07:51,445] root {<ipython-input-3-de35c3d606fb>:42} INFO - .
[2023-05-19 12:07:51,446] root {<ipython-input-3-de35c3d606fb>:256} INFO - Done!

In [4]:
logging.info("ANALYZE TABLE sample.tb_test COMPUTE STATISTICS FOR ALL COLUMNS  ;")
sqlContext.sql("ANALYZE TABLE sample.tb_test COMPUTE STATISTICS FOR ALL COLUMNS  ;") 
df = sqlContext.sql("DESCRIBE EXTENDED sample.tb_test;") 
df.show(100,False)

[2023-05-19 12:07:51,452] root {<ipython-input-4-e844652b705f>:1} INFO - ANALYZE TABLE sample.tb_test COMPUTE STATISTICS FOR ALL COLUMNS  ;
+----------------------------+----------------------------------------------------------------+-------+
|col_name                    |data_type                                                       |comment|
+----------------------------+----------------------------------------------------------------+-------+
|f01                         |bigint                                                          |null   |
|f02                         |bigint                                                          |null   |
|f03                         |string                                                          |null   |
|f04                         |bigint                                                          |null   |
|f05                         |string                                                          |null   |
|f06                         |bigint                                                          |null   |
|f07                         |bigint                                                          |null   |
|f08                         |string                                                          |null   |
|f09                         |string                                                          |null   |
|f10                         |bigint                                                          |null   |
|f11                         |string                                                          |null   |
|f12                         |string                                                          |null   |
|f13                         |string                                                          |null   |
|f14                         |bigint                                                          |null   |
|f15                         |bigint                                                          |null   |
|f16                         |string                                                          |null   |
|f17                         |string                                                          |null   |
|f18                         |string                                                          |null   |
|f19                         |bigint                                                          |null   |
|f20                         |string                                                          |null   |
|f21                         |string                                                          |null   |
|f22                         |bigint                                                          |null   |
|f23                         |string                                                          |null   |
|f24                         |string                                                          |null   |
|f25                         |string                                                          |null   |
|f26                         |string                                                          |null   |
|f27                         |string                                                          |null   |
|f28                         |string                                                          |null   |
|f29                         |string                                                          |null   |
|f30                         |bigint                                                          |null   |
|f31                         |bigint                                                          |null   |
|cp                          |bigint                                                          |null   |
|ld                          |bigint                                                          |null   |
|# Partition Information     |                                                                |       |
|# col_name                  |data_type                                                       |comment|
|cp                          |bigint                                                          |null   |
|ld                          |bigint                                                          |null   |
|                            |                                                                |       |
|# Detailed Table Information|                                                                |       |
|Database                    |sample                                                          |       |
|Table                       |tb_test                                                         |       |
|Owner                       |spark                                                           |       |
|Created Time                |Fri May 19 12:05:27 HKT 2023                                    |       |
|Last Access                 |UNKNOWN                                                         |       |
|Created By                  |Spark 3.3.1                                                     |       |
|Type                        |MANAGED                                                         |       |
|Provider                    |orc                                                             |       |
|Statistics                  |43813666 bytes, 220000 rows                                     |       |
|Location                    |hdfs://hadoop-service:9000/user/hive/warehouse/sample.db/tb_test|       |
|Serde Library               |org.apache.hadoop.hive.ql.io.orc.OrcSerde                       |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.orc.OrcInputFormat                 |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.orc.OrcOutputFormat                |       |
|Storage Properties          |[compression=ZLIB]                                              |       |
|Partition Provider          |Catalog                                                         |       |
+----------------------------+----------------------------------------------------------------+-------+

In [5]:
logging.info("ANALYZE TABLE sample.tb_sev_u COMPUTE STATISTICS FOR ALL COLUMNS  ;")
sqlContext.sql("ANALYZE TABLE sample.tb_sev_u COMPUTE STATISTICS FOR ALL COLUMNS  ;") 
df = sqlContext.sql("DESCRIBE EXTENDED sample.tb_sev_u;") 
df.show(100,False)

[2023-05-19 12:10:22,535] root {<ipython-input-5-b9eb15a1c29a>:1} INFO - ANALYZE TABLE sample.tb_sev_u COMPUTE STATISTICS FOR ALL COLUMNS  ;
+----------------------------+-----------------------------------------------------------------+-------+
|col_name                    |data_type                                                        |comment|
+----------------------------+-----------------------------------------------------------------+-------+
|id                          |bigint                                                           |null   |
|name                        |string                                                           |null   |
|                            |                                                                 |       |
|# Detailed Table Information|                                                                 |       |
|Database                    |sample                                                           |       |
|Table                       |tb_sev_u                                                         |       |
|Owner                       |spark                                                            |       |
|Created Time                |Fri May 19 12:07:01 HKT 2023                                     |       |
|Last Access                 |UNKNOWN                                                          |       |
|Created By                  |Spark 3.3.1                                                      |       |
|Type                        |MANAGED                                                          |       |
|Provider                    |hive                                                             |       |
|Table Properties            |[transient_lastDdlTime=1684469430]                               |       |
|Statistics                  |4600000 bytes, 200000 rows                                       |       |
|Location                    |hdfs://hadoop-service:9000/user/hive/warehouse/sample.db/tb_sev_u|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe               |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                         |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat       |       |
|Storage Properties          |[serialization.format=1]                                         |       |
|Partition Provider          |Catalog                                                          |       |
+----------------------------+-----------------------------------------------------------------+-------+

In [6]:
logging.info("create table if not exists sample.tb_test_qf_stat ...")
    
sqlContext.sql("use sample;") 
sqlContext.sql("drop table if exists sample.tb_test_qf_stat");

stmt = """
        create table if not exists sample.tb_test_qf_stat(
        f22 string,
        f02 string,
        f16 string,
        cnt bigint,
        f06    string,
        f07    string
        )partitioned by (bd string, ad bigint)
        ;
       """
logging.info("Executing query: \n" + stmt)
sqlContext.sql(stmt)
logging.info("Table sample.tb_test_qf_stat created.")


logging.info("create table if not exists sample.tb_test_qf_stat_log ...")
    
sqlContext.sql("use sample;") 
sqlContext.sql("drop table if exists sample.tb_test_qf_stat_log");

stmt = """
        create table if not exists sample.tb_test_qf_stat_log(
        batchId    string
        )
        ;
       """
logging.info("Executing query: \n" + stmt)
sqlContext.sql(stmt)
logging.info("Table sample.tb_test_qf_stat_log created.")

[2023-05-19 12:10:31,557] root {<ipython-input-6-57986b9459e5>:1} INFO - create table if not exists sample.tb_test_qf_stat ...
[2023-05-19 12:10:31,775] root {<ipython-input-6-57986b9459e5>:17} INFO - Executing query:

        create table if not exists sample.tb_test_qf_stat(
        f22 string,
        f02 string,
        f16 string,
        cnt bigint,
        f06    string,
        f07    string
        )partitioned by (bd string, ad bigint)
        ;

[2023-05-19 12:10:32,588] root {<ipython-input-6-57986b9459e5>:19} INFO - Table sample.tb_test_qf_stat created.
[2023-05-19 12:10:32,594] root {<ipython-input-6-57986b9459e5>:22} INFO - create table if not exists sample.tb_test_qf_stat_log ...
[2023-05-19 12:10:33,474] root {<ipython-input-6-57986b9459e5>:33} INFO - Executing query:

        create table if not exists sample.tb_test_qf_stat_log(
        batchId    string
        )
        ;

[2023-05-19 12:10:33,706] root {<ipython-input-6-57986b9459e5>:35} INFO - Table sample.tb_test_qf_stat_log created.

In [7]:
def create_view_tb_test_qf_tmp1(batchId, dateFrom, dateTo):
    
    logging.info("CREATE OR REPLACE TEMPORARY VIEW tb_test_qf_tmp1  ...")

    sqlContext.sql("use sample;") 
    query = """
        CREATE OR REPLACE TEMPORARY VIEW tb_test_qf_tmp1 
        as
        with tb_test_qf_tmp as (
            select trim(f02) as f02, trim(f04) as f04,trim(f22) as f22,
            regexp_replace(regexp_replace(regexp_replace(trim(f16),'\\\?+','\?') ,'0+','0'),'[ \t]+',' ') as f16,
            from_unixtime(unix_timestamp(cast(f30 as string),'yyyyMMddHH'), 'yyyy-MM-dd-HH')  as bd,
            {batchId} as ad,
            trim(f06) as f06,trim(f07) as f07
            from tb_test t
            where f31 >= {date1} and f31 < {date2} and f14 = '49'
        ),
        tb_test_qf_tmp1 as (
        select a.f22,a.f02,a.f16, count(distinct a.f04) as cnt,a.bd ,a.ad,
        a.f06,a.f07
        from tb_test_qf_tmp a
        left join tb_sev_u b on a.f02 = b.id
        where a.f02 is not null and b.id is null
        and length(a.f16) > 10
        group by a.f22,a.f02,a.f16,a.bd,a.ad,a.f06,a.f07 
        having cnt > 10
        )
        select * from tb_test_qf_tmp1
        ;
    """.format(batchId=batchId, date1=dateFrom, date2=dateTo)

    logging.info("\nExecuting query: \n" + query)
    sqlContext.sql(query) 
    logging.info("View tb_test_qf_tmp1 created.")

    
from datetime import datetime
from dateutil.relativedelta import relativedelta
    
today = datetime.now()
date1  = today - relativedelta(days=7)
date2  = today - relativedelta(days=2)
batchId = date2.strftime("%Y%m%d%H")
dateFrom = date1.strftime("%Y%m%d%H")
dateTo = date2.strftime("%Y%m%d%H")

create_view_tb_test_qf_tmp1(batchId, dateFrom, dateTo)

query = "alter table tb_test_qf_stat drop if exists partition (ad = {batchId})".format(batchId=batchId)
logging.info("Executing query: " + query)
sqlContext.sql(query);
logging.info("table sample.tb_test_qf_stat partition " + str(batchId) + " dropped.")

sqlContext.sql("set hive.exec.dynamic.partition.mode=nonstrict")
query = """
 insert into sample.tb_test_qf_stat partition(bd, ad)
 select f22,f02,f16,cnt,f06,f07,bd,ad
 from tb_test_qf_tmp1
;
"""
logging.info("\nExecuting query: \n" + query)
runstarttime = datetime.now()
sqlContext.sql(query) 
runfinishtime = datetime.now()

sqlContext.sql("set hive.exec.dynamic.partition.mode=strict")
logging.info("Finished tb_test_qf_stat Insert Query with " + str( (runfinishtime - runstarttime).seconds)  + " seconds")

query = """
 insert into sample.tb_test_qf_stat_log
 select {batchId}
 from tb_test_qf_tmp1
;
""".format(batchId=str(batchId))

logging.info("\nExecuting query: \n" + query)
sqlContext.sql(query) 
logging.info("\nFinished query: \n" + query)

[2023-05-19 12:10:33,967] root {<ipython-input-7-96d75c89d957>:3} INFO - CREATE OR REPLACE TEMPORARY VIEW tb_test_qf_tmp1  ...
[2023-05-19 12:10:34,139] root {<ipython-input-7-96d75c89d957>:32} INFO -
Executing query:

        CREATE OR REPLACE TEMPORARY VIEW tb_test_qf_tmp1
        as
        with tb_test_qf_tmp as (
            select trim(f02) as f02, trim(f04) as f04,trim(f22) as f22,
            regexp_replace(regexp_replace(regexp_replace(trim(f16),'\\?+','\?') ,'0+','0'),'[ 	]+',' ') as f16,
            from_unixtime(unix_timestamp(cast(f30 as string),'yyyyMMddHH'), 'yyyy-MM-dd-HH')  as bd,
            2023051712 as ad,
            trim(f06) as f06,trim(f07) as f07
            from tb_test t
            where f31 >= 2023051212 and f31 < 2023051712 and f14 = '49'
        ),
        tb_test_qf_tmp1 as (
        select a.f22,a.f02,a.f16, count(distinct a.f04) as cnt,a.bd ,a.ad,
        a.f06,a.f07
        from tb_test_qf_tmp a
        left join tb_sev_u b on a.f02 = b.id
        where a.f02 is not null and b.id is null
        and length(a.f16) > 10
        group by a.f22,a.f02,a.f16,a.bd,a.ad,a.f06,a.f07
        having cnt > 10
        )
        select * from tb_test_qf_tmp1
        ;

[2023-05-19 12:10:37,195] root {<ipython-input-7-96d75c89d957>:34} INFO - View tb_test_qf_tmp1 created.
[2023-05-19 12:10:37,201] root {<ipython-input-7-96d75c89d957>:50} INFO - Executing query: alter table tb_test_qf_stat drop if exists partition (ad = 2023051712)
[2023-05-19 12:10:38,047] root {<ipython-input-7-96d75c89d957>:52} INFO - table sample.tb_test_qf_stat partition 2023051712 dropped.
[2023-05-19 12:10:38,129] root {<ipython-input-7-96d75c89d957>:61} INFO -
Executing query:

 insert into sample.tb_test_qf_stat partition(bd, ad)
 select f22,f02,f16,cnt,f06,f07,bd,ad
 from tb_test_qf_tmp1
;

[2023-05-19 12:13:20,240] root {<ipython-input-7-96d75c89d957>:67} INFO - Finished tb_test_qf_stat Insert Query with 162 seconds
[2023-05-19 12:13:20,243] root {<ipython-input-7-96d75c89d957>:76} INFO -
Executing query:

 insert into sample.tb_test_qf_stat_log
 select 2023051712
 from tb_test_qf_tmp1
;

[2023-05-19 12:15:28,181] root {<ipython-input-7-96d75c89d957>:78} INFO -
Finished query:

 insert into sample.tb_test_qf_stat_log
 select 2023051712
 from tb_test_qf_tmp1
;

df = sqlContext.sql("select * from tb_test_qf_tmp1 ");
df.show(100, False)

In [8]:
sqlContext.sql("use sample;") 
query = "drop table if exists sample.tb_test_qf_lastest;"
logging.info("\nExecuting query: \n" + query)
sqlContext.sql(query) 
logging.info("\nFinished query: \n" + query)

query = """
create table  if not exists tb_test_qf_lastest as
select f22,f02,f16,cnt,bd,f06,f07 from
( select *, row_number() over(partition by f02 order by bd desc) rn from sample.tb_test_qf_stat) t
where t.rn =1;
"""

logging.info("\nExecuting query: \n" + query)
runstarttime = datetime.now()
sqlContext.sql(query) 
runfinishtime = datetime.now()
logging.info("Finished Query with " + str( (runfinishtime - runstarttime).seconds)  + " seconds")

query = """select * from tb_test_qf_lastest;""";
logging.info("\nExecuting query: \n" + query)
runstarttime = datetime.now()
df = sqlContext.sql(query) 
df.show(100, False)
runfinishtime = datetime.now()
logging.info("Finished Query with " + str( (runfinishtime - runstarttime).seconds)  + " seconds")

[2023-05-19 12:15:28,383] root {<ipython-input-8-2481303482d5>:3} INFO -
Executing query:
drop table if exists sample.tb_test_qf_lastest;
[2023-05-19 12:15:28,421] root {<ipython-input-8-2481303482d5>:5} INFO -
Finished query:
drop table if exists sample.tb_test_qf_lastest;
[2023-05-19 12:15:28,425] root {<ipython-input-8-2481303482d5>:14} INFO -
Executing query:

create table  if not exists tb_test_qf_lastest as
select f22,f02,f16,cnt,bd,f06,f07 from
( select *, row_number() over(partition by f02 order by bd desc) rn from sample.tb_test_qf_stat) t
where t.rn =1;

[2023-05-19 12:15:56,637] root {<ipython-input-8-2481303482d5>:18} INFO - Finished Query with 28 seconds
[2023-05-19 12:15:56,641] root {<ipython-input-8-2481303482d5>:21} INFO -
Executing query:
select * from tb_test_qf_lastest;
+---+-----------+--------------------+---+-------------+---+---+
|f22|f02        |f16                 |cnt|bd           |f06|f07|
+---+-----------+--------------------+---+-------------+---+---+
|3  |19218983880|Great you found me !|16 |2023-05-17-08|0  |7  |
|3  |19218983881|Great you found me !|13 |2023-05-17-09|0  |7  |
|3  |19218983882|Great you found me !|13 |2023-05-17-10|0  |7  |
|3  |19218983883|Great you found me !|15 |2023-05-17-11|0  |7  |
|3  |19218983884|Great you found me !|17 |2023-05-17-11|0  |7  |
|3  |19218983885|Great you found me !|15 |2023-05-17-11|0  |7  |
|3  |19218983886|Great you found me !|12 |2023-05-17-11|0  |7  |
|3  |19218983887|Great you found me !|11 |2023-05-17-10|0  |7  |
|3  |19218983888|Great you found me !|16 |2023-05-17-11|0  |7  |
|3  |19218983889|Great you found me !|13 |2023-05-17-11|0  |7  |
+---+-----------+--------------------+---+-------------+---+---+

[2023-05-19 12:15:57,239] root {<ipython-input-8-2481303482d5>:26} INFO - Finished Query with 0 seconds

In [9]:
sqlContext.sql("use sample;") 
df = sqlContext.sql("show tables;") 
df.show(100,False)

query = "drop table if exists sample.tb_test_num_tmp;"
logging.info("\nExecuting query: \n" + query)
sqlContext.sql(query) 

query = """
    create table  if not exists sample.tb_test_num_tmp as
    select f22, f02, min(bd) as f_date, max(bd) as l_date,f06,f07
    from tb_test_qf_tmp1 
    group by f22, f02,f06,f07;
"""


logging.info("\nExecuting query: \n" + query)
runstarttime = datetime.now()
sqlContext.sql(query) 
runfinishtime = datetime.now()
logging.info("Finished Query with " + str( (runfinishtime - runstarttime).seconds)  + " seconds")

query = "drop table if exists sample.tb_test_num_tmp1;"

logging.info("\nExecuting query: \n" + query)
runstarttime = datetime.now()
sqlContext.sql(query) 
runfinishtime = datetime.now()
logging.info("Finished Query with " + str( (runfinishtime - runstarttime).seconds)  + " seconds")

query = """
    create table if not exists sample.tb_test_num
    as
    select t.f22, f02, min(f_date) as f_date, max(l_date) as l_date,f06,f07
    from sample.tb_test_num_tmp as t
    group by t.f22,f02,f06,f07
    limit 1;
"""

logging.info("\nExecuting query: \n" + query)
runstarttime = datetime.now()
sqlContext.sql(query) 
runfinishtime = datetime.now()
logging.info("Finished Query with " + str( (runfinishtime - runstarttime).seconds)  + " seconds")

query = "Truncate table sample.tb_test_num;"
logging.info("\nExecuting query: \n" + query)
runstarttime = datetime.now()
sqlContext.sql(query) 
runfinishtime = datetime.now()
logging.info("Finished Query with " + str( (runfinishtime - runstarttime).seconds)  + " seconds")


query = """
    create table  if not exists sample.tb_test_num_tmp1 as
    select t.f22, f02, min(f_date) as f_date, max(l_date) as l_date,f06,f07
     from
    ( select * from tb_test_num_tmp
    union all
    select * from tb_test_num ) t
    group by t.f22,f02,f06,f07
;"""

logging.info("\nExecuting query: \n" + query)
runstarttime = datetime.now()
sqlContext.sql(query) 
runfinishtime = datetime.now()
logging.info("Finished Query with " + str( (runfinishtime - runstarttime).seconds)  + " seconds")

query = "drop table if exists sample.tb_test_num;"
logging.info("\nExecuting query: \n" + query)
runstarttime = datetime.now()
sqlContext.sql(query) 
runfinishtime = datetime.now()
logging.info("Finished Query with " + str( (runfinishtime - runstarttime).seconds)  + " seconds")

query = " alter table sample.tb_test_num_tmp1 rename to sample.tb_test_num; "
logging.info("\nExecuting query: \n" + query)
runstarttime = datetime.now()
sqlContext.sql(query) 
runfinishtime = datetime.now()
logging.info("Finished Query with " + str( (runfinishtime - runstarttime).seconds)  + " seconds")

query = " select * from sample.tb_test_num; "
logging.info("\nExecuting query: \n" + query)
runstarttime = datetime.now()
df = sqlContext.sql(query) 
df.show(100, False)
runfinishtime = datetime.now()
logging.info("Finished Query with " + str( (runfinishtime - runstarttime).seconds)  + " seconds")

+---------+-------------------+-----------+
|namespace|tableName          |isTemporary|
+---------+-------------------+-----------+
|sample   |tb_sev_u           |false      |
|sample   |tb_test            |false      |
|sample   |tb_test_num        |false      |
|sample   |tb_test_qf_lastest |false      |
|sample   |tb_test_qf_stat    |false      |
|sample   |tb_test_qf_stat_log|false      |
|         |tb_test_qf_tmp1    |true       |
+---------+-------------------+-----------+

[2023-05-19 12:15:58,040] root {<ipython-input-9-71dfdaf8b156>:6} INFO -
Executing query:
drop table if exists sample.tb_test_num_tmp;
[2023-05-19 12:15:58,076] root {<ipython-input-9-71dfdaf8b156>:17} INFO -
Executing query:

    create table  if not exists sample.tb_test_num_tmp as
    select f22, f02, min(bd) as f_date, max(bd) as l_date,f06,f07
    from tb_test_qf_tmp1
    group by f22, f02,f06,f07;

[2023-05-19 12:17:23,256] root {<ipython-input-9-71dfdaf8b156>:21} INFO - Finished Query with 85 seconds
[2023-05-19 12:17:23,265] root {<ipython-input-9-71dfdaf8b156>:25} INFO -
Executing query:
drop table if exists sample.tb_test_num_tmp1;
[2023-05-19 12:17:23,302] root {<ipython-input-9-71dfdaf8b156>:29} INFO - Finished Query with 0 seconds
[2023-05-19 12:17:23,306] root {<ipython-input-9-71dfdaf8b156>:40} INFO -
Executing query:

    create table if not exists sample.tb_test_num
    as
    select t.f22, f02, min(f_date) as f_date, max(l_date) as l_date,f06,f07
    from sample.tb_test_num_tmp as t
    group by t.f22,f02,f06,f07
    limit 1;

[2023-05-19 12:17:23,526] root {<ipython-input-9-71dfdaf8b156>:44} INFO - Finished Query with 0 seconds
[2023-05-19 12:17:23,530] root {<ipython-input-9-71dfdaf8b156>:47} INFO -
Executing query:
Truncate table sample.tb_test_num;
[2023-05-19 12:17:23,886] root {<ipython-input-9-71dfdaf8b156>:51} INFO - Finished Query with 0 seconds
[2023-05-19 12:17:23,890] root {<ipython-input-9-71dfdaf8b156>:64} INFO -
Executing query:

    create table  if not exists sample.tb_test_num_tmp1 as
    select t.f22, f02, min(f_date) as f_date, max(l_date) as l_date,f06,f07
     from
    ( select * from tb_test_num_tmp
    union all
    select * from tb_test_num ) t
    group by t.f22,f02,f06,f07
;
[2023-05-19 12:17:26,614] root {<ipython-input-9-71dfdaf8b156>:68} INFO - Finished Query with 2 seconds
[2023-05-19 12:17:26,618] root {<ipython-input-9-71dfdaf8b156>:71} INFO -
Executing query:
drop table if exists sample.tb_test_num;
[2023-05-19 12:17:27,071] root {<ipython-input-9-71dfdaf8b156>:75} INFO - Finished Query with 0 seconds
[2023-05-19 12:17:27,074] root {<ipython-input-9-71dfdaf8b156>:78} INFO -
Executing query:
 alter table sample.tb_test_num_tmp1 rename to sample.tb_test_num;
[2023-05-19 12:17:27,522] root {<ipython-input-9-71dfdaf8b156>:82} INFO - Finished Query with 0 seconds
[2023-05-19 12:17:27,525] root {<ipython-input-9-71dfdaf8b156>:85} INFO -
Executing query:
 select * from sample.tb_test_num;
+---+-----------+-------------+-------------+---+---+
|f22|f02        |f_date       |l_date       |f06|f07|
+---+-----------+-------------+-------------+---+---+
|3  |19218983880|2023-05-12-20|2023-05-17-08|0  |7  |
|3  |19218983881|2023-05-12-20|2023-05-17-09|0  |7  |
|3  |19218983882|2023-05-12-20|2023-05-17-10|0  |7  |
|3  |19218983883|2023-05-12-21|2023-05-17-11|0  |7  |
|3  |19218983884|2023-05-12-22|2023-05-17-11|0  |7  |
|3  |19218983885|2023-05-12-20|2023-05-17-11|0  |7  |
|3  |19218983886|2023-05-12-22|2023-05-17-11|0  |7  |
|3  |19218983887|2023-05-12-20|2023-05-17-10|0  |7  |
|3  |19218983888|2023-05-12-22|2023-05-17-11|0  |7  |
|3  |19218983889|2023-05-12-21|2023-05-17-11|0  |7  |
+---+-----------+-------------+-------------+---+---+

[2023-05-19 12:17:27,902] root {<ipython-input-9-71dfdaf8b156>:90} INFO - Finished Query with 0 seconds

In [10]:
spark.sparkContext.stop()